---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import bluffCatcher from "./bluff-catcher.jpeg";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Reasons to play <span class="text-gradient">72o</span></h1>
    <ul role="list" class="link-card-grid">
      <Card title="It's a great bluff catcher">
        <img src={bluffCatcher} />
        <pre>3 limpers
Hero on CO: raise 6bb
BTN: fold
SB: call
BB: fold
UTG: fold
UTG+1: fold
LJ: fold
HJ: call

Flop: T82s
SB: check
HJ: check
Hero: raise 10bb
SB: fold
HJ: re-raise 25bb
Hero: all-in, another 50bb
HJ: call

Turn: 9
River K</pre>
      </Card>
      <Card title="You can river trips">
        <p>
          <span class="text-gradient">72o</span> is good enough for Magnus. It's good enough for you.
        </p>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/-sQxx6mU__0"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </Card>
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .link-card-grid {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    padding: 0;
  }
  img {
    width: 100%;
  }
</style>
